@import '@styles/vars';

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1518px;

  @media (max-width: $size-tablet) {
    padding: 0;
  }
}

.wrapper {
  min-height: 840px;
  border-radius: 50px 50px 0 50px;
  background: #005148;
  display: flex;
  overflow: hidden;

  p {
    margin-bottom: 0 !important;
  }

  @media (max-width: $size-laptop) {
    min-height: 700px;
    border-radius: 30px 30px 0 30px;
  }

  @media (max-width: $size-tablet) {
    border-radius: 0;
    display: block;
  }
}

.content {
  align-self: center;
  padding-left: 60px;
  padding-right: 100px;
  width: 50%;

  @media (max-width: $size-laptop) {
    padding: 30px;
  }

  @media (max-width: $size-tablet) {
    width: 100%;
    padding: 30px 20px 40px 20px
  }
}

.imageContent {
  position: relative;
  width: 50%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 90px 70px;
  gap: 180px;

  @media (max-width: $size-laptop) {
    padding: 50px 30px;
    gap: 120px;
  }

  @media (max-width: $size-tablet) {
    width: 100%;
    padding: 70px 20px 50px;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 200px 0 0 0;

  @media (max-width: $size-laptop) {
    border-radius: 100px 0 0 0;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.topText,
.bottomText {
  position: relative;
  max-width: 370px;

  @media (max-width: $size-tablet) {
    max-width: 500px;
    margin-left: 50px;
  }

  h3,
  h4 {
    @include adaptive-font(36, 24);
    font-family: var(--font-visual-sans);
    line-height: 107%;
    margin-top: 0;
    margin-bottom: 35px;

    @media (max-width: $size-laptop) {
      margin-bottom: 20px;
    }
  }
}

.topText::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #D8FB97;
  left: 0;
  bottom: -90px;

  @media (max-width: $size-laptop) {
    bottom: -60px;
  }
}

.reverse {
  flex-direction: row-reverse;
  border-radius: 50px 50px 50px 0;

  @media (max-width: $size-laptop) {
    border-radius: 30px 30px 30px 0;
  }

  @media (max-width: $size-tablet) {
    border-radius: 0;
  }

  .content {
    padding-left: 100px;
    padding-right: 60px;

    @media (max-width: $size-laptop) {
      padding: 30px;
    }

    @media (max-width: $size-tablet) {
      padding: 30px 20px 40px 20px
    }
  }

  .imageContent {
    align-items: flex-start;
  }

  .image {
    border-radius: 0 0 200px 0;

    @media (max-width: $size-laptop) {
      border-radius: 0 0 100px 0;
    }

    @media (max-width: $size-tablet) {
      border-radius: 0 100px 0 0;
    }
  }

  .topText,
  .bottomText {
    margin-left: 0;
    margin-right: 50px;
  }
}

.text {
  @include adaptive-font(22, 16);
}