@import '@styles/vars';

.container {
  padding: 0 20px;
  margin: 0 auto 111px;
  max-width: 1558px;

  @media (max-width: $size-tablet) {
    margin-bottom: 50px;
  }

  @media (max-width: $size-mobile) {
    padding: 0;
  }
}

.title {
  text-align: left;
  margin-bottom: 26px;
}

.text {
  text-align: left;
  font-size: 22px;
  margin-bottom: 50px;

  @media (max-width: $size-tablet) {
    font-size: 16px;
  }
}

.wrapper {
  display: flex;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  border-radius: 50px;
  padding: 60px 60px 80px;

  @media (max-width: $size-laptop) {
    padding: 40px 40px 60px;
  }

  @media (max-width: $size-tablet) {
    padding: 35px 30px;
    border-radius: 30px;
  }

  @media (max-width: $size-mobile) {
    border-radius: 0;
    padding: 30px 20px;
  }
}

.content {
  max-width: 460px;
  background: radial-gradient(99.73% 67.51% at 103.69% -13.56%, #FFFFFF 0%, #EBF5EB 100%);
  padding-top: 12px;
  border-radius: 41px;

  @media (max-width: $size-laptop) {
    max-width: 360px;
  }

  @media (max-width: $size-tablet) {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
  }
}

.content .listItem {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 28px 44px 22px;
  color: #005148;
  font-weight: 500;
  font-size: 23px;
  line-height: 1;

  &:not(:first-of-type) {
    border-top: 1px solid #B4C2A054;
  }

  p {
    margin-bottom: 0;
  }

  @media (max-width: $size-laptop) {
    font-size: 18px;
    padding: 15px 30px;
    gap: 20px;
  }

  @media (max-width: $size-mobile) {
    font-size: 16px;
    padding: 10px 20px;
  }
}

.listItemMarker {
  background: #D8FB97;
  color: #005148;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 9px;
  box-shadow: -1.4px 4.89px 4.89px 0px #00000017;
  font-family: var(--font-visual-sans);
}

.contentFooter {
  margin-top: 42px;
  background: #DFEDDF;
  padding: 40px 0;
  border-radius: 0 0 41px 41px;

  @media (max-width: $size-laptop) {
    margin-top: 30px;
    padding: 30px 0;
  }

  @media (max-width: $size-tablet) {
    border-radius: 0 0 20px 20px;
  }

  @media (max-width: $size-mobile) {
    display: flex;
    justify-content: center;
  }
}

.button {
  margin-left: 108px;
  padding: 10px 20px;

  @media (max-width: $size-laptop) {
    margin-left: 72px;
  }

  @media (max-width: $size-mobile) {
    font-size: 16px;
    margin: 0;
  }
}
